@{
    ViewData["Title"] = "Module";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive scrollbar">
            <div class="m-3">
                <button type="button" class="btn btn-primary btn-sm" id="btnModule">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box"
                        viewBox="0 0 16 16">
                        <path
                            d="M8.368 1.233a1 1 0 0 0-.736 0l-6 2.25A1 1 0 0 0 1 4.44v7.12a1 1 0 0 0 .632.933l6 2.25a1 1 0 0 0 .736 0l6-2.25A1 1 0 0 0 15 11.56V4.44a1 1 0 0 0-.632-.933l-6-2.25zM8 2.677 13.225 4.5 8 6.323 2.775 4.5 8 2.677zm6 3.103-5 1.875v6.412l5-1.875V5.78zM7 8.655 2 6.78v6.412l5 1.875V8.655z" />
                    </svg>
                    Módulo
                </button>
            </div>
            <table class="table table-striped table-hover display nowrap" id="tmainM">
                <thead>
                    <tr>
                        <td>Descripción</td>
                        <td>Controlador</td>
                        <td>Icono</td>
                        <td>Estatus</td>
                        <td>Posición</td>
                        <td>Fecha</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalModule">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Módulo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtDescription">Descripción</label>
                    <input type="hidden" id="_id_module_" value="0" />
                    <input type="text" id="txtDescription" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtController">Controlador</label>
                    <input type="text" id="txtController" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtIcon">Icono</label>
                    <input type="text" id="txtIcon" class="form-control" />
                </div>
                <div class="form-group form-check form-switch">
                    <label>Estatus</label>
                    <input type="checkbox" id="chkStatus" class="form-check-input" />
                    <label class="form-check-label" for="chkStatus">Activo/Inactivo)</label>
                </div>
                <div class="form-group">
                    <label for="txtPosition">Posición</label>
                    <input type="number" id="txtPosition" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtRDate">Fecha</label>
                    <input type="datetime-local" id="txtRDate" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSaveModule">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

@section JS {
    <script>

        cargarModulos();

        $("#btnModule").click(function () {
            LimpiarFormularioModule();
            $("#modalModule").modal("show");
        });

        $("#btnSaveModule").click(function () {
            const dateValue = $("#txtRDate").val();
            const data_module = {
                ModuleID: $("#_id_module_").val() || 0,
                MoDescription: $("#txtDescription").val(),
                MoController: $("#txtController").val(),
                MoIcon: $("#txtIcon").val(),
                MoStatus: $("#chkStatus").is(":checked") ? 1 : 0,
                MoPosition: $("#txtPosition").val(),
                MoRDate: dateValue ? new Date(dateValue).toISOString() : null
            };

            $.ajax({
                url: "/Module/AddUpdate",
                data: data_module,
                type: "POST",
                beforeSend: () => { },
                success: function (res) {
                    if (res.ok) {
                        alert(res.message);
                        cargarModulos();
                        $("#modalModule").modal("hide");
                        LimpiarFormularioModule();
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        });

        function cargarModulos() {
            $.ajax({
                url: "/Module/ListModule",
                type: "POST",
                success: function (res) {
                    if (res.ok) {
                        console.log(res.data);
                        LlenarTablaM(res.data);
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function LlenarTablaM(lista) {

            if ($.fn.DataTable.isDataTable("#tmainM")) {
                $("#tmainM").DataTable().destroy();
            }

            $("#tmainM tbody").remove();

            tabla = $("#tmainM").DataTable({
                data: lista,
                columns: [
                    { data: "moDescription" },
                    { data: "moController" },
                    { data: "moIcon" },
                    { data: "moStatus" },
                    { data: "moPosition" },
                    {
                        data: "moRDate", render: function (data) {
                            if (data) {
                                let timestampMatch = data.match(/\/Date\((\d+)\)\//);
                                if (timestampMatch) {
                                    let timestamp = parseInt(timestampMatch[1], 10);
                                    let date = new Date(timestamp);
                                    return date.toLocaleString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
                                } else {
                                    let date = new Date(data);
                                    if (isNaN(date.getTime())) {
                                        let parts = data.split(/[-T:.Z]/);
                                        date = new Date(Date.UTC(parts[0], parts[1] - 1, parts[2], parts[3] || 0, parts[4] || 0, parts[5] || 0));
                                    }
                                    return !isNaN(date.getTime()) ? date.toLocaleString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) : 'Fecha inválida';
                                }
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        data: "moduleID",
                        render: (value, type, row) => {
                            return `<button type='button' class='btn btn-warning m-1' onclick="ShowModalModuleEdit(${value});">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                </button>`;
                        }
                    }
                ],
                buttons: [
                    'excel'
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                }
            });
        }

        function ShowModalModuleEdit(_moduleID) {
            const data_module_id = { moduleID: _moduleID };
            $.ajax({
                url: "/Module/ListModule",
                data: data_module_id,
                type: "POST",
                success: function (res) {
                    if (res.ok) {

                        const moduleData = res.data[0];
                        $("#_id_module_").val(moduleData.moduleID);
                        $("#txtDescription").val(moduleData.moDescription);
                        $("#txtController").val(moduleData.moController);
                        $("#txtIcon").val(moduleData.moIcon);
                        $("#chkStatus").prop("checked", moduleData.moStatus);
                        $("#txtPosition").val(moduleData.moPosition);

                        let moRDate = moduleData.moRDate;

                        let timestampMatch = moRDate.match(/\/Date\((\d+)\)\//);
                        if (timestampMatch) {
                            let timestamp = parseInt(timestampMatch[1], 10);
                            let date = new Date(timestamp);
                            let isoDate = date.toISOString().slice(0, 16);
                            $("#txtRDate").val(isoDate);
                        } else {
                            let date = new Date(moRDate);
                            if (!isNaN(date.getTime())) {
                                let isoDate = date.toISOString().slice(0, 16);
                                $("#txtRDate").val(isoDate);
                            } else {
                                $("#txtRDate").val('');
                            }
                        }
                        $("#modalModule").modal("show");
                    } else {
                        console.log("No se encontraron datos para el ModuleID:", moduleID);
                        alert("No se encontraron datos para el módulo seleccionado.");
                    }
                },
                error: (err) => {
                    console.log("AJAX error:", err);
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function LimpiarFormularioModule() {
            $("#_id_module_").val(0);
            $("#txtDescription").val("");
            $("#txtController").val("");
            $("#txtIcon").val("");
            $("#txtPosition").val("");
            $("#txtRDate").val("");
        }

        $('#exportExcel').click(function () {
            tabla.button('.buttons-excel').trigger();
            mostrarToast("Exito", "Tu tabla se ha exportado en formato Excel con exito", "Descarga");
        });

        function mostrarToast(titulo, mensaje, tipo) {
            const toast = `
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">${titulo}</strong>
                            <small>${tipo}</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            ${mensaje}
                        </div>
                    </div>`;
            $("#Toast_alert").html(toast);
            $(".toast").toast("show");
        }

    </script>
}
