@{
    ViewData["Title"] = "Profiles";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">

<style>
    .btn-dark-green {
        background-color: #217346;
        border-color: #217346;
        color: white;
        margin-left: 950px;
    }

    .btn-dark-green:hover {
        background-color: #1e623d;
        border-color: #1e623d;
        color: white;
    }
</style>

<div class="card">
    <div class="card-body">
        <div class="table-responsive scrollbar">
            <div class="m-3">
                <button type="button" class="btn btn-info btn-sm text-dark" id="btnProfiles"><svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-fill-add" viewBox="0 0 16 16">
                        <path
                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path
                            d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                    </svg> Perfil
                </button>
                <button type="button" class="btn btn-dark-green btn-sm btn-excel my-3 "
                    onclick="exportExcel('tmainProfiles', 'Tabla Perfiles')" data-toggle="tooltip" data-placement="top"
                    title="Exportar a Excel">
                    <i class="bi bi-file-earmark-excel-fill"></i> Excel
                </button>
            </div>
            <table class="table table-striped table-hover display nowrap" id="tmainProfiles">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Estatus</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalProfiles">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Perfiles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtDescriptionP">Descripción</label>
                    <input type="hidden" id="_id_profiles_" value="0" />
                    <input type="text" id="txtDescriptionP" class="form-control" />
                </div>
                <div class="form-group form-check form-switch">
                    <label>Estatus</label>
                    <input type="checkbox" id="chkStatusP" class="form-check-input" />
                    <label class="form-check-label" for="chkStatus">Activo/Inactivo)</label>
                </div>
                <div class="form-group">
                    <label for="txtRDateP">Fecha</label>
                    <input type="datetime-local" id="txtRDateP" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSaveProfiles">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

@section JS {
    <script>

        cargarProfile();

        $("#btnProfiles").click(function () {
            LimpiarFormularioProfiles();
            $("#modalProfiles").modal("show");
        });

        $("#btnSaveProfiles").click(function () {
            const dateValue = $("#txtRDateP").val();
            const data_profile = {
                ProfileID: $("#_id_profiles_").val() || 0,
                ProDescription: $("#txtDescriptionP").val(),
                ProStatus: $("#chkStatusP").is(":checked") ? 1 : 0,
                ProRDate: dateValue ? new Date(dateValue).toISOString() : null
            };

            $.ajax({
                url: "/Profiles/AddUpdate",
                data: data_profile,
                type: "POST",
                success: function (res) {
                    if (res.ok) {
                        alert(res.message);
                        cargarProfile();
                        $("#modalProfiles").modal("hide");
                        LimpiarFormularioProfiles();
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        });

        function cargarProfile() {
            $.ajax({
                url: "/Profiles/List",
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8;",
                success: function (res) {
                    if (res.ok) {
                        LlenarTablaP(res.data);
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function LlenarTablaP(lista) {
            if ($.fn.DataTable.isDataTable("#tmainProfiles")) {
                $("#tmainProfiles").DataTable().destroy();
            }

            $("#tmainProfiles tbody").remove();

            tabla = $("#tmainProfiles").DataTable({
                data: lista,
                columns: [
                    { data: "proDescription" },
                    { data: "proStatus" },
                    {
                        data: "proRDate", render: function (data) {

                            if (data) {
                                let timestampMatch = data.match(/\/Date\((\d+)\)\//);
                                if (timestampMatch) {
                                    let timestamp = parseInt(timestampMatch[1], 10);
                                    let date = new Date(timestamp);
                                    return date.toLocaleString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
                                } else {
                                    let date = new Date(data);
                                    if (isNaN(date.getTime())) {
                                        let parts = data.split(/[-T:.Z]/);
                                        date = new Date(Date.UTC(parts[0], parts[1] - 1, parts[2], parts[3] || 0, parts[4] || 0, parts[5] || 0));
                                    }
                                    return !isNaN(date.getTime()) ? date.toLocaleString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) : 'Fecha inválida';
                                }
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        data: "profileID",
                        render: (value, type, row) => {
                               return `<td class="text-end">
        <div class="dropdown font-sans-serif position-static"><button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs-10"></span></button>
            <div class="dropdown-menu dropdown-menu-end border py-0">
              <div class="py-2"><a class="dropdown-item" onclick="ShowModalProfileEdit(${value});" href="#">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
            </div>
          </div>
        </td>`;
                        }
                    }
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                }
            });
        }

        function ShowModalProfileEdit(profileID) {
            const data_profile_id = {
                profileID: profileID
            };

            $.ajax({
                url: "/Profiles/List",
                data: data_profile_id,
                type: "POST",
                success: function (res) {
                    if (res.ok && res.data.length > 0) {
                        const profile = res.data[0];
                        $("#_id_profiles_").val(profile.profileID);
                        $("#txtDescriptionP").val(profile.proDescription);
                        $("#chkStatusP").prop("checked", profile.proStatus);

                        let proRDate = profile.proRDate;
                        let date;

                        let timestampMatch = proRDate.match(/\/Date\((\d+)\)\//);
                        if (timestampMatch) {
                            let timestamp = parseInt(timestampMatch[1], 10);
                            date = new Date(timestamp);
                        } else {
                            date = new Date(proRDate);
                            if (isNaN(date.getTime())) {
                                let parts = proRDate.split(/[-T:.Z]/);
                                date = new Date(Date.UTC(parts[0], parts[1] - 1, parts[2], parts[3] || 0, parts[4] || 0, parts[5] || 0));
                            }
                        }

                        if (!isNaN(date.getTime())) {
                            let isoDate = date.toISOString().slice(0, 16);
                            $("#txtRDateP").val(isoDate);
                        } else {
                            $("#txtRDateP").val('');
                        }

                        $("#modalProfiles").modal("show");
                    } else {
                        alert("No se encontraron datos para el perfil seleccionado.");
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde.");
                }
            });
        }

        function LimpiarFormularioProfiles() {
            $("#_id_profiles_").val(0);
            $("#txtDescriptionP").val("");
            $("#txtRDateP").val("");
        }
        
        function exportExcel(tableID, filename = '') {
            let table = document.getElementById(tableID);
            let wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });

            let wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

            function s2ab(s) {
                let buf = new ArrayBuffer(s.length);
                let view = new Uint8Array(buf);
                for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }

            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), filename + ".xlsx");
        }

    </script>
}