.error {
    color: red;
  }

  .Required {
    color: red;
    font-weight: bold;
  }

  .btn-dark-green {
    background-color: #217346;
    border-color: #217346;
    color: white;
    margin-left: 18px;
  }

  .btn-dark-green:hover {
    background-color: #1e623d;
    border-color: #1e623d;
    color: white;
  }