@{
    ViewData["Title"] = "SubModule";
}

@await Html.PartialAsync("~/Views/Dashboard/Dashboard.cshtml")

<div id="Toast_alert" class="toast-container position-fixed top-0 end-0 p-3">
</div>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">SubMódulos</h1>

        <div class="btn-toolbar mb-2 mb-md-0">

            <div class="btn-group me-2 ">

                <div class="dropdown">
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="exportDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">Exportar</button>
                    <ul class="dropdown-menu" aria-labelledby="exportDropdown">
                        <li><a class="dropdown-item" href="#" id="exportExcel">Exportar a Excel</a></li>
                        <li><a class="dropdown-item" href="#" id="exportCSV">Exportar a CSV</a></li>
                        <li><a class="dropdown-item" href="#" id="exportCopy">Copiar al Portapapeles</a></li>
                        <li><a class="dropdown-item" href="#" id="exportPDF">Exportar a PDF</a></li>
                        <li><a class="dropdown-item" href="#" id="exportPrint">Imprimir</a></li>
                    </ul>
                </div>

            </div>
            <button type="button"
                class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                <svg class="bi">
                    <use xlink:href="#calendar3" />
                </svg>
                This week
            </button>
        </div>
    </div>
    
    <div class="table-responsive small">
        <div class="m-3">
            <button type="button" class="btn btn-info btn-sm" id="btnSubModule">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path
                        d="M7.293 0.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1-1.414 1.414L8 2.414 2.707 7.707a1 1 0 0 1-1.414-1.414l6-6z" />
                    <path d="M0 9a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9zm13 0H3v7h10V9z" />
                </svg>
                Submódulo
            </button>
        </div>
    </div>
        <table class="table table-striped table-hover display nowrap" id="tmain">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Descripción</td>
                    <td>Acción</td>
                    <td>Estatus</td>
                    <td>Posición</td>
                    <td>Fecha</td>
                    <td>Módulo</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
</div>
</div>

<div class="modal fade" tabindex="-1" id="modalSubModule">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SubMódulo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtDescription">Descripción</label>
                    <input type="hidden" id="_id_submodule_" value="0" />
                    <input type="text" id="txtSubDescription" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtController">Acción</label>
                    <input type="text" id="txtAction" class="form-control" />
                </div>
                <div class="form-group form-check form-switch">
                    <label>Estatus</label>
                    <input type="checkbox" id="chkStatusS" class="form-check-input" />
                    <label class="form-check-label" for="chkStatus">Activo/Inactivo)</label>
                </div>
                <div class="form-group">
                    <label for="txtPosition">Posición</label>
                    <input type="number" id="txtSubPosition" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtRDate">Fecha</label>
                    <input type="datetime-local" id="txtSubRDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Modulo</label>
                    <select class="form-control" id="listModulo">
                        <option value="-1">Seleccione</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSaveSubModule">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

@section JS {
    <script>
        cargarSubModulo();

        cargarModulos();

        $("#btnSubModule").click(function () {
            LimpiarFormularioSubModule();
            $("#modalSubModule").modal("show");
        });

        $("#btnSaveSubModule").click(function () {
            const dateValue = $("#txtSubRDate").val();
            const data_submodule = {
                subModuleID: $("#_id_submodule_").val(),
                subDescription: $("#txtSubDescription").val(),
                subAction: $("#txtAction").val(),
                subStatus: $("#chkStatusS").is(":checked") ? 1 : 0,
                subPosition: $("#txtSubPosition").val(),
                subRDate: $('#txtSubRDate').val(),
                moduleID: $("#listModulo").val()
            };

            $.ajax({
                url: "/Submodule/AddUpdate",
                data: JSON.stringify(data_submodule),
                type: "POST",
                success: function (res) {
                    if (res.ok) {
                        alert(res.message);
                        cargarSubModulo();
                        $("#modalSubModule").modal("hide");
                        LimpiarFormularioSubModule();
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        });

        function ShowModalSubEdit(_SubModuleID) {
            const data_submodule_id = { subModuleID: _SubModuleID };
            $.ajax({
                url: "/SubModule/ListSubModule",
                data: JSON.stringify(data_submodule_id),
                type: "POST",
                success: function (res) {
                    if (res.ok) {
                        const subModule = res.data[0];
                        $("#_id_submodule_").val(subModule.subModuleID);
                        $("#txtSubDescription").val(subModule.subDescription);
                        $("#txtAction").val(subModule.subAction);
                        $("#chkStatusS").prop("checked", subModule.subStatus === 1);
                        $("#txtSubPosition").val(subModule.subPosition);
                        $('#txtSubRDate').val(subModule.subRDate);
                        $("#listModulo").val(subModule.moduleID);
                        $("#modalSubModule").modal("show");
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function cargarSubModulo() {
            $.ajax({
                url: "/SubModule/ListSubModule",
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8;",
                success: function (res) {
                    if (res.ok) {
                        LlenarTablaS(res.data);
                        let html = `<option value="-1">Seleccione</option>`;
                        $.each(res.data, (index, value) => {
                            html += `<option value="${value.subModuleID}">${value.subDescription}</option>`;
                        });
                        $("#listSubModulo").html(html);
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function cargarModulos() {
            $.ajax({
                url: "/Module/ListModule",
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    if (res.ok) {
                        console.log(res.data);
                        let html = `<option value="-1">Seleccione</option>`;
                        $.each(res.data, (index, value) => {
                            html += `<option value="${value.moduleID}">${value.moDescription}</option>`;
                        });
                        $("#listModulo").html(html);
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function LlenarTablaS(lista) {
            let tmain = $("#tmain").DataTable();
            tmain.clear();
            tmain.destroy();

            tmain = $("#tmain").DataTable({
                data: lista,
                columns: [
                    { data: "subModuleID" },
                    { data: "subDescription" },
                    { data: "subAction" },
                    { data: "subStatus" },
                    { data: "subPosition" },
                    { data: "subRDate" },
                    { data: "moduleID" },
                    {
                        data: "subModuleID", render: function (value) {
                            return `<button type='button' class='btn btn-warning' onclick='ShowModalSubEdit(${value})'>
                                         <i class="bi bi-pencil-fill"></i>
                                        </button>`;
                        }
                    }
                ],
                buttons: [
                    'excel', 'csv', 'copy', 'pdf', 'print'
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                }
            });
        }

        function LimpiarFormularioSubModule() {
            $("#_id_submodule_").val(0);
            $("#txtSubDescription").val("");
            $("#txtAction").val("");
            $("#chkStatusS").prop("checked", false);
            $("#txtSubPosition").val("");
            $("#txtSubRDate").val("");
            $("#listModulo").val("-1");
        }

        $('#exportExcel').click(function () {
            tabla.button('.buttons-excel').trigger();
            mostrarToast("Exito", "Tu tabla se ha exportado en formato Excel con exito", "Descarga");
        });


        $('#exportCSV').click(function () {
            tabla.button('.buttons-csv').trigger();
            mostrarToast("Exito", "Tu tabla se ha exportado en formato CSV con exito", "Descarga");
        });


        $('#exportCopy').click(function () {
            mostrarToast("Exito", "Tu tabla se ha copiado en tu portapapeles con exito", "Descarga");
            tabla.button('.buttons-copy').trigger();
        });


        $('#exportPDF').click(function () {
            tabla.button('.buttons-pdf').trigger();
            mostrarToast("Exito", "Tu tabla se ha exportado en formato PDF con exito", "Descarga");
        });


        $('#exportPrint').click(function () {
            tabla.button('.buttons-print').trigger();
            mostrarToast("Exito", "Tu tabla esta lista para imprimir con exito", "Imprimir");
        });

        function mostrarToast(titulo, mensaje, tipo) {
            const toast = `
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">${titulo}</strong>
                        <small>${tipo}</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        ${mensaje}
                    </div>
                </div>`;
            $("#Toast_alert").html(toast);
            $(".toast").toast("show");
        }

    </script>
}
