@{
    ViewData["Title"] = "Permission";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive scrollbar">
            <div class="m-3">
                <button type="button" class="btn btn-warning btn-sm" id="btnPermission">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-shield-check" viewBox="0 0 16 16">
                    <path
                        d="M4.293 9.293a1 1 0 0 0 1.414 0L7 8.414l3.293 3.293a1 1 0 0 0 1.414-1.414l-4-4a1 1 0 0 0-1.414 0l-2 2a1 1 0 0 0 0 1.414z" />
                    <path
                        d="M3.5 0A1.5 1.5 0 0 0 2 1.5v4.246a3.5 3.5 0 0 0-.5 6.977V15.5a.5.5 0 0 0 .5.5h12a.5.5 0 0 0 .5-.5v-1.777a3.5 3.5 0 0 0-.5-6.977V1.5A1.5 1.5 0 0 0 13.5 0h-11zm8.122 5.808l-3.35 3.292a.5.5 0 0 1-.708 0l-1.35-1.343a.5.5 0 0 1 .707-.708l.943.94 2.646-2.594a.5.5 0 0 1 .707.707z" />
                </svg>
                Permisos
            </button>
            </div>
            <table class="table table-striped table-hover display nowrap" id="tmainPermission">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estatus</th>
                    <th>Fecha</th>
                    <th>Submódulo</th>
                    <th>Perfil</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalPermission">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Permisos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group form-check form-switch">
                    <label>Estatus</label>
                    <input type="hidden" id="_id_permission_" value="0" />
                    <input type="checkbox" id="chkStatusPer" class="form-check-input" />
                    <label class="form-check-label" for="chkStatus">Activo/Inactivo)</label>
                </div>
                <div class="form-group">
                    <label for="txtRDate">Fecha</label>
                    <input type="datetime-local" id="TXTSubRDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label>SubMódulo</label>
                    <select class="form-control" id="listSubModulo">
                        <option value="-1">Seleccione</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Perfil</label>
                    <select class="form-control" id="listProfile">
                        <option value="-1">Seleccione</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSavePermission">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
@section JS {
    <script>
        
        cargarPermission();

        cargarSubModulo();

        cargarProfile();

        $("#btnPermission").click(function () {
            LimpiarFormularioPermission();
            $("#modalPermission").modal("show");
        });

        $("#btnSavePermission").click(function () {
            const dateValue = $("#TXTSubRDate").val();
            const data_permission = {
                permissionID: $("#_id_permission_").val(),
                perStatus: $("#chkStatusPer").is(":checked") ? 1 : 0,
                subRDate: dateValue ? new Date(dateValue).toISOString() : null,
                subModuleID: $("#listSubModulo").val(),
                profileID: $("#listPerfil")
            };

            $.ajax({
                url: "/Permission/AddUpdate",
                data: JSON.stringify(data_permission),
                type: "POST",
                beforeSend: () => { },
                success: function (res) {
                    if (res.ok) {
                        alert(res.message);
                        cargarPermission();
                        $("#modalPermission").modal("hide");
                        LimpiarFormulariouPermission();
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        });

        function cargarPermission() {
            $.ajax({
                url: "/Permission/ListPermission",
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    if (res.ok) {
                        LlenarTablaPer(res.data);
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

          function cargarSubModulo() {
            $.ajax({
                url: "/SubModule/ListSubModule",
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8;",
                success: function (res) {
                    if (res.ok) {
                        let html = `<option value="-1">Seleccione</option>`;
                        $.each(res.data, (index, value) => {
                            html += `<option value="${value.subModuleID}">${value.subDescription}</option>`;
                        });
                        $("#listSubModulo").html(html);
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function cargarProfile() {
            $.ajax({
                url: "/Profiles/List",
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8;",
                beforeSend: () => { },
                success: (res) => {
                    if (res.ok) {
                        console.log(res.data);
                        let html = `<option value="-1">Seleccione</option>`;
                        $.each(res.data, (index, value) => {
                            html += `<option value="${value.profileID}">${value.proDescription}</option>`;
                        });
                        $("#listProfile").html(html);
                    } else {
                        mostrarToast("ALERTA!!", res.message, "alert");
                    }
                },
                error: () => {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function LlenarTablaPer(lista) {
            if ($.fn.DataTable.isDataTable("#tmainPermission")) {
                $("#tmainPermission").DataTable().destroy();
            }

             $("#tmainPermission tbody").remove();

            tabla = $("#tmainPermission").DataTable({
                data: lista,
                columns: [
                    { data: "permissionID" },
                    { data: "perStatus" },
                    {
                        data: "subRDate", render: function (data) {

                            if (data) {
                                let timestampMatch = data.match(/\/Date\((\d+)\)\//);
                                if (timestampMatch) {
                                    let timestamp = parseInt(timestampMatch[1], 10);
                                    let date = new Date(timestamp);
                                    return date.toLocaleString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
                                } else {
                                    let date = new Date(data);
                                    if (isNaN(date.getTime())) {
                                        let parts = data.split(/[-T:.Z]/);
                                        date = new Date(Date.UTC(parts[0], parts[1] - 1, parts[2], parts[3] || 0, parts[4] || 0, parts[5] || 0));
                                    }
                                    return !isNaN(date.getTime()) ? date.toLocaleString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) : 'Fecha inválida';
                                }
                            } else {
                                return '';
                            }
                        }
                    },
                    { data: "subModuleID" },
                    { data: "profileID" },
                    {
                        data: "permissionID",
                        render: (value, type, row) => {
                            return `<button type='button' class='btn btn-warning m-1' onclick="ShowModalPerEdit(${value});">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>`;
                        }
                    }
                ],
                buttons: [
                    'excel', 'csv', 'copy', 'pdf', 'print'
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                }
            });
        }

        function ShowModalPerEdit(_permissionID) {
            const data_permission_id = { permissionID: _permissionID };
            $.ajax({
                url: "/Permission/ListPermission",
                data: data_permission_id,
                type: "POST",
                success: function (res) {
                    if (res.ok) {
                        const permission = res.data[0];
                        $("#_id_permission_").val(permission.permissionID);
                        $("#chkStatusPer").prop("checked", permission.perStatus);
                        let subRDate = permission.subRDate;
                        let timestampMatch = subRDate.match(/\/Date\((\d+)\)\//);
                        if (timestampMatch) {
                            let timestamp = parseInt(timestampMatch[1], 10);
                            let date = new Date(timestamp);
                            let isoDate = date.toISOString().slice(0, 16);
                            $("#TXTSubRDate").val(isoDate);
                        } else {
                            let date = new Date(subRDate);
                            if (!isNaN(date.getTime())) {
                                let isoDate = date.toISOString().slice(0, 16);
                                $("#TXTSubRDate").val(isoDate);
                            } else {
                                $("#TXTSubRDate").val('');
                            }
                        }
                        $("#listSubModulo").val(permission.subModuleID);
                        $("#listProfile").val(permission.profileID);
                        $("#modalPermission").modal("show");
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("Ocurrió un error interno, por favor inténtalo más tarde");
                }
            });
        }

        function LimpiarFormularioPermission() {
            $("#_id_permission_").val(0);
            $("#chkStatusPer").prop("checked", false);
            $("#TXTSubRDate").val("");
            $("#listSubModulo").val("-1");
            $("#listPerfil").val("-1");
        }

        $('#exportExcel').click(function () {
            tabla.button('.buttons-excel').trigger();
            mostrarToast("Exito", "Tu tabla se ha exportado en formato Excel con exito", "Descarga");
        });


        $('#exportCSV').click(function () {
            tabla.button('.buttons-csv').trigger();
            mostrarToast("Exito", "Tu tabla se ha exportado en formato CSV con exito", "Descarga");
        });


        $('#exportCopy').click(function () {
            mostrarToast("Exito", "Tu tabla se ha copiado en tu portapapeles con exito", "Descarga");
            tabla.button('.buttons-copy').trigger();
        });


        $('#exportPDF').click(function () {
            tabla.button('.buttons-pdf').trigger();
            mostrarToast("Exito", "Tu tabla se ha exportado en formato PDF con exito", "Descarga");
        });


        $('#exportPrint').click(function () {
            tabla.button('.buttons-print').trigger();
            mostrarToast("Exito", "Tu tabla esta lista para imprimir con exito", "Imprimir");
        });

        function mostrarToast(titulo, mensaje, tipo) {
            const toast = `
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">${titulo}</strong>
                        <small>${tipo}</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        ${mensaje}
                    </div>
                </div>`;
            $("#Toast_alert").html(toast);
            $(".toast").toast("show");
        }
    </script>
}